<h1>Sign In </h1>
<form action="/users/create-session" method="POST">
    <label for="Email">Email</label>
    <input type="email" name='email' id="Email" placeholder="Email">

    <label for="Password">Password</label>
    <input type="password" name='password' id="Password" placeholder="Password">
    <input type="submit" value="Sign In">
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>