footer {
  background-color: #747474;
  height: 60px;
  display: flex;
  padding-top: 1%; }
  footer #copyright-text {
    margin-left: 8px;
    color: white;
    font-family: sans-serif; }
  footer #footer-list {
    margin: 0px;
    list-style: none; }
    footer #footer-list a {
      text-decoration: none;
      color: white;
      font-family: sans-serif;
      cursor: pointer; }
      footer #footer-list a:hover {
        color: lightgrey; }
